.App {
    background-image: url("https://sun9-40.userapi.com/impg/d06KBunkb6D5-tEkx_cl4sb2-fwiAXnbBfmr4g/_bsi9TfPcoA.jpg?size=564x1002&quality=96&sign=b04a28764e7ef3386c2dd00e9d20c883&type=album  no-repea" );
    height: 800px;
    background-size: 30%;
}