.message {
    display: flex;
    align-items: flex-end;
    color: orangered;
    margin: 10px

}


.ava {
    height: 50px;
    border-radius: 60px;
}

.name {
    color: darkorange;
}

.corner {
    width: 10px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.3) 0);

}

.content {
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.name {
    font-size: 20px;
    font-weight: bolder;
}

.time {
    display: flex;
    justify-content: flex-end;
}



